<nav class="navbar navbar-default menu-bg" role="navigation">
  <div class="container">
	  <div class="navbar-header col-md-4 col-sm-5">
	  	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Desplegar navegación</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/#/">
            <img class="logo img-responsive" src="../images/cart.png" alt="">
        </a>
	    <h1>Compras</h1>
	  </div>

	  <div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="HeaderController">
	    <!--ul class="nav navbar-nav navbar-right">
	      <li ng-class="{ active: isActive('/vote')}"><a href="/#/vote" data-toggle="collapse" data-target=".navbar-ex1-collapse">VOTAR</a></li>
	      <li ng-class="{ active: isActive('/ranking')}"><a href="/#/ranking" data-toggle="collapse" data-target=".navbar-ex1-collapse">RANKING</a></li>
	      <li ng-class="{ active: isActive('/lineup')}"><a href="/#/lineup" data-toggle="collapse" data-target=".navbar-ex1-collapse">11 IDEAL</a></li>
	      <li ng-class="{ active: isActive('/rankClubs')}"><a href="/#/rankClubs" data-toggle="collapse" data-target=".navbar-ex1-collapse">EQUIPOS</a></li>
	      <li ng-class="{ active: isActive('/nosotros')}"><a href="/#/nosotros"  data-toggle="collapse" data-target=".navbar-ex1-collapse">NOSOTROS</a></li>
	    </ul-->
	
	    <!--div class="ribbon hidden-xs"><span>Cruyff</span></div-->
	  </div>
  </div>
</nav>

